<div>
  <p>
    <button ng-click="goLastMonth()">{{'<'}}</button>
    <button ng-click="goNextMonth()">{{'>'}}</button>
    {{year}}年 {{month}}月
  </p>
</div>
<table>
  <tr>
    <td ng-repeat="day in daysOfTheWeek">
      {{day}}
    </td>
  </tr>
  <tr ng-repeat="week in weeks">
    <td ng-repeat="date in week track by $index">
      {{date}}
    </td>
  </tr>
</table>

<div>
  <p>予定</p>
  <p></p>
</div>

<style>

  html, body, #container {
    height: 100%;
  }

  table {
    width: 91%;
    height: 84%;
    border: 1px solid #303030;
    border-collapse: collapse;
    color: #666;
  }

  tr:first-child {
    height: 32px;
    text-align: center;
  }

  tr:first-child td {
    vertical-align: middle;
    font-size: 12px;
  }

  td {
    padding: 4px;
    width: 13%;
    border: 1px solid #CCC;
    vertical-align: top;
    font-size: 10px;
  }

  td:first-child {
    background: #F9E2E6;
  }

  td:last-child {
    background: #DAF1F5;
  }

</style>